name: Build APK

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: false
        type: string
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'
        fetch-depth: '0'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3.2.0
      with:
        log-accepted-android-sdk-licenses: false
        cmdline-tools-version: '12266719'
        packages: 'platforms;android-35 build-tools;35.0.0 platform-tools'

    - name: Install NDK
      run: |
        echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --channel=0 --install "ndk;28.2.13676358"
        echo "NDK_HOME=$ANDROID_HOME/ndk/28.2.13676358" >> $GITHUB_ENV
        sed -i '10i\
            ndkVersion = "28.2.13676358"' ${{ github.workspace }}/V2rayNG/app/build.gradle.kts

    - name: Build Playstore Debug APK (arm64 only)
      run: |
        cd ${{ github.workspace }}/V2rayNG
        echo "sdk.dir=${ANDROID_HOME}" > local.properties
        chmod +x gradlew
        ./gradlew assemblePlaystoreDebug -PABI_FILTERS=arm64-v8a

    - name: Find generated APK
      id: find_apk
      run: |
        APK_PATH=$(find V2rayNG/app/build/outputs/apk/playstore/debug -name "*arm64-v8a*.apk" | head -n 1)
        echo "APK_PATH=$APK_PATH" >> $GITHUB_ENV
        echo "Found APK: $APK_PATH"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: v2rayng-debug-arm64
        path: ${{ env.APK_PATH }}
